body {
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}
nav{
    font-family: 'Ubuntu', sans-serif;
}
a{
    color: white;
    text-decoration: none;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
header {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 1.5rem 0;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    margin: 0;
}

main {
    padding: 2rem;
}

.artist-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.artist {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 1.5rem;
    width: 30%;
    transition: transform 0.3s, box-shadow 0.3s;
}

.artist:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.75rem;
    color: #4a90e2;
    margin-top: 0;
}

p {
    font-size: 1rem;
    line-height: 1.6;
}
.artist img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1rem;
}
footer {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}
